@{
    ViewBag.Title = "Главная страница";
}

@Styles.Render("~/Content/Site.css")

<h2>Информационная система для учёта движения ценных бумаг и дивидендов</h2>
<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Выйти...", "Logoff", null, new { @class = "btn btn-default" })
            <br />
            <br />
            if (!@WebApplication1.Models.GlobalVariables.IsAdmin && @WebApplication1.Models.GlobalVariables.UserId != 0)
            {
                // Формирование отчёта о сделках покупки
                @Html.ActionLink("Формирование отчёта о сделках покупки", "ReportBue", null, new { @class = "btn btn-default" })

                // Формирование отчёта о сделках покупки
                @Html.ActionLink("Формирование отчёта о сделках продажи", "ReportSell", null, new { @class = "btn btn-default" })

                // Формирование отчёта о выплаченных дивидендах
                @Html.ActionLink("Формирование отчёта о выплаченных дивидендах", "ReportDividendHistory", null, new { @class = "btn btn-default" })
            }
        }
        else
        {
            <img width="1140" height="640" src="~/images/home.png">

            @Html.ActionLink("Войти", "Login", null, new { @class = "btn btn-default" })
        }
    </div>
</div>
