@model WebApplication1.TableCurrency

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/Site.css")

<h2>Справочник 'Валют'. Подробнее</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться к списку", "Index") |
    @if (User.Identity.IsAuthenticated && @WebApplication1.Models.GlobalVariables.IsAdmin)
    {
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.code })
    }
</p>
